@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
body, html {
 
  background-color: #141414; 
  color: white; 
  min-height: 100vh; 
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #141414; 
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-section {
  display: flex;
  align-items: center;
}

.menu-item {
  display: flex;
  align-items: center;
  margin-right: 24px; 
}
.menu-item a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white; 
}
.menu-item span {
  margin-left: 8px; 
}
.menu-item span, .menu-item a {
  margin-left: 8px; 
  color: white; 
  text-decoration: none; 
  cursor: pointer;
}
 .menu-item span:hover {
  color: magenta; 
}

.menu-item:last-child {
  margin-right: 0; 
}

.search-container {
  display: flex;
  align-items: center;
}

.search-input {
  background-color: transparent;
  border: 1px solid rgb(0, 0, 0);
  color: magenta;
  padding: 5px 10px;
  margin-right: 16px; 
}

.icon {
  font-size: 24px;
  cursor: pointer;
}
.footer {
  background-color: #f4f4f4; 
  color: #333; 
  padding: 20px; 
  text-align: center; 
  width: 100%; 
  height: 150px; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  position: fixed;
  bottom: 0; 
}

.footer-content {
  max-width: 1200px; 
  margin: 0 auto; 
  
}

.footer-links {
  margin-top: 10px; 
}

.footer-links a {
  color: #666; 
  text-decoration: none; 
  margin: 0 10px; 
}

.footer-links a:hover {
  color: #000; 
}
@media (max-width: 767px) {
  .icon {
    font-size: 18px; 
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .icon {
    font-size: 24px; 
  }
}

/* Large devices (desktops, 1024px and up) */
@media (min-width: 1024px) {
  .icon {
    font-size: 28px; 
  }
}